<div class="modal-header">
  <h3 class="modal-title">Sync Strava Activities</h3>
</div>
<div class="modal-body">
  <p>We will download all of your cycling activities up to two months ago through today.</p>
  <p>To compute accurate loads we need the appropriate FTP for each day processed. For the most accurate results, if your FTP has changed since your start day, you should provide historical FTP's on the <a ui-sref="settings.profile">My Profile</a> page before you sync.</p>
  <div class="form-group">
    <label for="replaceExisting">
      <input type="checkbox" name="replaceExisting" ng-model="replaceExisting" id="replaceExisting">&nbsp;&nbsp;Replace previously synced activities.
    </label>
    <br/><em><small>We will not replace any activities that you edited In Tacit Training.</small></em>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="syncActivities()">Sync</button>
  <button class="btn btn-warning" type="button" ng-click="cancelSync()">Cancel</button>
</div>
