<section ng-controller="AboutController">
  <div class="container">
    <div class="page-header">
      <h1><small>About</small> Tacit Training</h1>
    </div>
    <div class="alert alert-info">
      <p>TrainingPeaks®, Training Stress Score® and TSS® are registered trademarks of <a href="http://trainingpeaks.com/" class="colored" target="_blank">Peaksware, LLC</a>.</p>
      <p>STRAVA® is a registered trademark of <a href="http://strava.com/" class="colored" target="_blank">Strava, Inc.</a></p>
    </div>
    <div class="container">
      <div ng-repeat="s in FAQ">
        <h3>{{s.sectionTitle}}</h3>
        <uib-accordion close-others="true">
          <uib-accordion-group heading="{{q.question}}" ng-repeat="q in s.questions">
            {{q.answer}}
          </uib-accordion-group>
        </uib-accordion>
      </div>
    </div>
  </div>
</section>
