<section ng-controller="AboutController">
  <div class="container">
    <div class="page-header">
      <h1><small>About</small> Tacit Training</h1>
    </div>
    <div class="container">
      <div ng-repeat="section in FAQ">
        <h3>{{section.sectionTitle}}</h3>
        <uib-accordion>
          <div uib-accordion-group class="panel-default" heading="{{q.question}}" ng-repeat="q in section.questions">
            {{q.answer}}
          </div>
        </uib-accordion>
      </div>
    </div>
    <div>
      <p><strong>Training Stress Score®</strong> and <strong>TSS®</strong> are registered trademarks of <a href="http://trainingpeaks.com/" class="colored" target="_blank"><strong>Peaksware, LLC</strong></a>.</p>
    </div>
  </div>
</section>
