<section ng-controller="AboutController as about">
  <div class="container">
    <div class="page-header">
      <h2>Tacit Training is SHUTTING DOWN</h2>
    </div>
    <div class="container">
        <div class="about-content">
          <p>
            On October 31, 2018, the Tacit Training site will be shut down. This is a move I have contemplated for almost a year, and have now decided the time has come.
          </p>
          <p>
            When I first envisioned the training tool that became Tacit Training, the concept of a tool that would dynamically adjust training recommendations based on 
            previous training was unique. But now this approach, which generally came to be know as "adaptive training", has been adopted by several training service 
            providers, both established players and others newer to the market. And some of them are doing a pretty good job of it.
          </p> 
          <p>
            Unlike Tacit Training, these services are generally not free, but given what I know about the
            challenges of producing such a tool, this is understandable. A significant commitment of resources is required in order to produce a useful service, 
            resources that I do not possess.
          </p>
          <p>
            It has been a fun and engaging three plus years that I have spent building Tacit Training. But now I am moving on.
          </p>
          <p>
            <strong>As always, good luck with your season!</strong>
          </p>
          <p class="top-buffer-2x"><b>Al Pendergrass</b><br>Creator of Tacit Training</p>
        </div>
    </div>
    <!-- <div class="page-header">
      <h2>About Tacit Training</h2>
    </div>
    <div class="container">
      <div ng-repeat="section in about.sections">
        <h3 ng-bind-html="section.title"></h3>
        <div class="about-content">
          <span ng-bind-html="section.content"></span>
        </div>
      </div>
    </div> -->
  </div>
</section>
