<div class="page-header">
  <h2>Contact Us</h2>
</div>
<h4>
  <a href="mailto:support@tacittraining.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> If you have questions or encounter a problem, <strong><a href="mailto:support@tacittraining.com">please email me</a>!</strong>
</h4>
<p>
  If the mail link does not work in your browser, my address is <strong>support -at- tacittraining.com</strong>.
</p>
<p>
  When reporting a problem, please let me know what you were doing so that I can recreate the problem. The more information the better. And screen shots are always appreciated.
</p>
<p><b>I look forward to hearing from you!</b></p>
<p><b>Al Pendergrass</b>
  <br>Creator of Tacit Training</p>
<p>
  <a class="strava-me" href="https://www.strava.com/athletes/433782" target="_blank" title="Me on Strava"><img id="strava" src="/modules/core/client/img/strava.png" alt="Me on Strava" width="80" height="80"></a>
</p>
