<h2>Contact Us</h2>
<h4>
  <a href="mailto:support@tacittraining.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> If you have questions or encounter a problem, <strong><a href="mailto:support@tacittraining.com">please email us</a>!</strong>
</h4>
<p>
  If the mail link does not work in your browser, our address is <strong>support at tacittraining.com</strong>.
</p>
<p>
  When reporting a problem, please let us know what you were doing so that we can recreate the problem. The more information the better. And screen shots are always appreciated!
</p>
