<div class="page-header">
  <h2>Contribute to Tacit Training</h2>
</div>
<p>
  While I enjoy the time I spend working on the app, I have fixed expenses, like site and database hosting fees, I have to cover every month. If you find Tacit Training useful, please consider making a contribution. Any amount is appreciated!
</p>
<p class="top-buffer-4x text-center">
<a class="btn background-color-tacit-red btn-lg" href="https://www.paypal.me/tacittraining/20" target="_blank" title="Contribute">Contribute With PayPal</a>
</p>
<p class="top-buffer-4x">
  <strong>Thank you for your support!</strong> If you have any questions or suggestions, I would love to <strong><a ui-sref="contact">hear from you</a>.</strong>
</p>
