<div class="container-fluid footer">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="pull-left">
        <img ng-src="/modules/core/client/img/brand/logo.png" width="119" height="36">
      </div>
      <div class="pull-left contribute">
        <a ui-sref="contribute"><img ng-src="/modules/core/client/img/contribute.png" height="17"></a>
      </div>
      <div class="pull-right">
        <a href="http://www.strava.com" target="_blank"><img ng-src="/modules/core/client/img/strava_horiz_light.png" height="30"></a>
      </div>
      <div class="pull-right facebook">
        <a href="https://www.facebook.com/tacittraining/" target="_blank"><img ng-src="/modules/core/client/img/facebook_find_us.gif" height="34"></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class=copyright>
        <small>©2016 TacitTraining.com. All rights reserved.</small>
      </div>
    </div>
  </div>
</div>
