<nav class="navbar navbar-default">
  <div class="container-fluid" ng-controller="HeaderController as header">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a ui-sref="home" class="navbar-brand"><img ng-src="/modules/core/client/img/brand/logo.png"></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse-1" role="navigation" ng-disabled="true">
          <ul class="nav navbar-nav" ng-if="header.menu.shouldRender(header.authentication.user);">
            <li ng-repeat="item in header.menu.items | orderBy: 'position'" ng-if="item.shouldRender(header.authentication.user);" ng-switch="item.type" ng-class="{ active: header.$state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">
              <a ng-switch-when="dropdown" class="dropdown-toggle" uib-dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
              <ul ng-switch-when="dropdown" class="dropdown-menu" uib-dropdown-menu>
                <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(header.authentication.user);" ui-sref-active="active">
                  <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
                </li>
              </ul>
              <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="dropdown" uib-dropdown>
              <a class="dropdown-toggle" uib-dropdown-toggle role="button">
            About<b class="caret"></b>
          </a>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li ui-sref-active="active">
                  <a ui-sref="faq">FAQ</a>
                </li>
                <!-- <li ui-sref-active="active">
              <a ui-sref="waitlist">Waitlisting</a>
            </li> -->
                <li ui-sref-active="active">
                  <a ui-sref="contact">Contact Us</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-hide="header.authentication.user">
            <li ui-sref-active="active">
              <a ui-sref="header.authentication.signup">Sign Up</a>
            </li>
            <li class="divider-vertical"></li>
            <li ui-sref-active="active">
              <a ui-sref="header.authentication.signin">Sign In</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-show="header.authentication.user.roles">
            <li class="dropdown" uib-dropdown ng-show="header.authentication.user.notifications && _.filter(header.authentication.user.notifications, ['blocked', false]).length">
              <a class="dropdown-toggle" uib-dropdown-toggle role="button">
                <span class="user-alerts">Alerts</span> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li ng-repeat="notification in _.filter(header.authentication.user.notifications, ['blocked', false]) | orderBy:'alert':true" ui-sref-active="active">
                  <a ui-sref="{{notification.state}}" ng-bind="notification.message" ng-class="{ 'user-alert': notification.alert }"></a>
                </li>
              </ul>
            </li>
            <li class="dropdown" uib-dropdown>
              <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
                <img ng-src="{{header.authentication.user.profileImageURL}}" alt="{{header.authentication.user.firstName}}" class="header-profile-image" />
                <span ng-bind="header.authentication.user.displayName"></span> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li ui-sref-active="active" ng-hide="_.includes(header.authentication.user.roles, 'waitlist')">
                  <a ui-sref="settings.profile">My Profile</a>
                </li>
                <!-- <li ui-sref-active="active">
              <a ui-sref="settings.picture">Change Profile Picture</a>
            </li> -->
                <li ui-sref-active="active" ng-show="header.authentication.user.provider === 'local' && !_.includes(header.authentication.user.roles, 'waitlist')">
                  <a ui-sref="settings.password">Change Password</a>
                </li>
                <!-- <li ui-sref-active="active" ng-hide="_.includes(header.authentication.user.roles, 'waitlist')">
              <a ui-sref="settings.accounts">Manage Social Accounts</a>
            </li> -->
                <li class="divider" ng-hide="_.includes(header.authentication.user.roles, 'waitlist')"></li>
                <li>
                  <a href="/api/auth/signout" target="_self">Sign Out</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
