<h2 class="mb-md">Privacy Policy</h2>
<h3>What information about me does Tacit Training collect and how is it used?</h3>
<p>
Tacit Training only collects personal information about you if you voluntarily choose to share it with Tacit Training. Tacit Training does not share, rent or sell information concerning Tacit Training’s members or other users of its website to third parties in ways other than disclosed in this privacy statement.
</p>
<p>
There are several other opportunities on the Site for you to share personal information about yourself with Tacit Training. This may include information about you such as your equipment and activities. If you choose to share any personal information with Tacit Training, Tacit Training may store it and use it for internal research and other Tacit Training marketing purposes, including e-mailing you with special promotions and other programs of interest. If the information is sent as part of a website evaluation, Tacit Training may also use the information to contact you about your comments. Tacit Training may use your email address to send you newsletters with updates and news about Tacit Training. You may remove your name from our email list by <a href="http://www.tacittraining.com/contact">contacting us</a>. Tacit Training does not share, rent or sell your information to another company in ways other than disclosed in this privacy statement.
</p>
<p>
When you visit the Site, a cookie will be stored on your computer. Generally, cookies work by assigning to your computer a unique number that has no meaning outside of Tacit Training. Tacit Training’s cookies do not contain any personally identifying information. After you’ve authenticated on Tacit Training’s website, Tacit Training saves session information in a cookie so that you do not have to re-authenticate during your session. Most Web browsers automatically accept cookies, but you can usually change your browser to prevent that. Not accepting cookies may make certain features of the Site unavailable to you.
</p>
<p>
Like most standard Web site servers the Site uses log files containing information such as site resources accessed, internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, platform type and date/time stamp. We may use this data to analyze trends, administer the Site, track user’s movement in the aggregate, and gather broad demographic information for aggregate use. IP addresses, etc. are not linked to personally identifiable information. In addition, Tacit Training may use Google Analytics as a method of tracking site statistics and user behavior on the Site.
</p>
<p>
You may decide to send Tacit Training personally identifying information in an e-mail message which might contain information or inquiries about Tacit Training’s products or services. Tacit Training will use this information to identify you as a Tacit Training member and to respond to the electronic mail. Tacit Training will only use the information obtained to resolve the issue identified in the e-mail. Tacit Training never sells e-mail addresses. You may change or request deletion of your personal information by <a href="http://www.tacittraining.com/contact">contacting us</a>.
</p>
<p>
Tacit Training will only share your personal information with third parties if:
</p>
<ul>
<li>
Tacit Training has your consent;
</li>
<li>
Tacit Training determines that it is required to do so by law; such as in response to a court order or subpoena;
</li>
<li>
Tacit Training finds that you are in breach of its terms and conditions or any of its policies or usage guidelines for specific products or services;
</li>
<li>
It is necessary in Tacit Training’s opinion to do so to prevent, investigate, detect or prosecute criminal offenses or attacks on the technical integrity of the Site or Tacit Training’s network;
</li>
<li>
It is necessary in Tacit Training’s opinion to do so to protect the rights, property, or safety of Tacit Training or its employees, the users of its website(s), or the public; or
</li>
<li>
It is necessary to fulfill your product or service order.
</li>
</ul>
<p>
Information about you and your use of the Site may be aggregated with other information collected on the Site or otherwise used in ways that do not personally identify you or constitute personally identifiable information. This type of aggregated or statistical information may be used by us to improve the quality of the Site or for other purposes that we may deem appropriate.
</p>
<p>
You should carefully review security/privacy policies of any third party sites accessible from the Site. Other sites accessible through the Site have their own policies and data collection, use, and disclosure practices. Please consult each site’s policies and practice. Tacit Training is not responsible for the policies or practices of third parties. The information practices of those websites linked from the Site are not covered by this Privacy Policy. These other sites may send their own cookies to users, collect data, or solicit personal information.
</p>
<h3>Does Tacit Training offer opt-out or opt-in services?</h3>
<p>
Yes. If you choose to stop receiving emails from Tacit Training, please follow the unsubscribe instructions within each email communication or <a href="http://www.tacittraining.com/contact">contact us</a>. Tacit Training will not provide or share any mailing lists or other information about you to another company or service for promotional purposes. Any service related emails (to confirm a purchase, etc.) generally do not offer an option to unsubscribe as they are necessary to provide the service you requested.
</p>
<h3>What if information I have previously submitted has changed?</h3>
<p>
If you need to correct, amend or delete submitted information that is inaccurate please <a href="http://www.tacittraining.com/contact">contact Tacit Training</a>. Tacit Training will respond to your request within 7-10 business days. In addition, you may correct, amend or delete submitted information that is inaccurate by visiting “My Profile” on the Site.
</p>
<h3>Privacy Policy changes</h3>
<p>
If Tacit Training makes changes to any terms or conditions of this Privacy Policy, these changes will be posted on the Site in a timely manner. If Tacit Training decides to change this Privacy Policy, it will post those changes on this Privacy Policy and other places Tacit Training deems appropriate, which may include the Site, for a period of time Tacit Training deems appropriate, so that you are aware of what information Tacit Training collects, how Tacit Training uses it, and under what circumstances, if any, Tacit Training discloses it. Tacit Training reserves the right to modify this Privacy Policy at any time, so please review it periodically. In case of a business transaction in which a portion or all of Tacit Training’s business is acquired, Tacit Training will notify you as described above in this paragraph.
</p>
<h3>Disclaimer</h3>
<p>
While Tacit Training continues to work hard to protect your personal information, no data transmission over the Internet can be guaranteed to be absolutely secure, and Tacit Training cannot ensure or warrant the security of any information you transmit to Tacit Training. Transmitting personal information is done at your own risk.
</p>
<h3>Contact Tacit Training</h3>
<p>
Tacit Training welcomes your questions and comments about security and privacy, please <a href="http://www.tacittraining.com/contact">contact us</a>.
</p>
<small>Last updated January 11, 2017.</small>
