<div class="page-header">
  <h2>Wait-Listing on Tacit Training</h2>
</div>
<h4>
  First of all, if you are currently wait-listed we apologize for the wait!
</h4>
<p>
  In order to ensure a quality experience for our users we at times implement a wait list for new users. When wait-listing is in place, new users that click the Connect With Strava button will be connected but will not be able to use Tacit Training. Instead, wait-listed users are placed in a queue on a first-come first-served basis. We notify wait-listed users via the email address in their Strava profile just as soon as we have capacity to ensure a good experience.
</p>
<p>
  If you are currently wait-listed but would like to be removed from the queue, you may <strong><a ui-sref="contact">Contact Us</a></strong> and we will remove you from the list. You may also remove Tacit Training from your connected apps in Strava. To do this, in Strava go to Settings | My Apps and click Revoke Access next to the Tacit Training entry. Revoking access prevents Tacit Training from accessing your Strava account. Note however that revoking access in Strava does not remove you from Tacit Training. If you do not want an email from us when we are ready for you, you need to let us know.
<p>
  We appreciate your patience and hope to welcome you to Tacit Training soon! If you have any questions about our wait-listing process please <strong><a ui-sref="contact">Contact Us</a>!</strong>
</p>
