<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <table class="table table-hover">
  <tr>
    <th ng-click="sortBy('firstName')">First Name</th>
    <th ng-click="sortBy('lastName')">Last Name</th>
    <th ng-click="sortBy('email')">Email</th>
    <th ng-click="sortBy('username')">Username</th>
    <th ng-click="sortBy('lastLogin')">Last Login</th>
    <th ng-click="sortBy('loginCount')">Login Count</th>
    <th ng-click="sortBy('updated')">Last Update</th>
    <th ng-click="sortBy('created')">Created</th>
    <th ng-click="sortBy('roles')">Roles</th>
  </tr>
    <!-- <tr ng-repeat="user in pagedItems | orderBy:propertyName:reverse" > -->
    <tr ng-repeat="user in pagedItems" >
      <td><a ui-sref="admin.user({userId: user._id})">{{user.firstName}}</a></td>
      <td><a ui-sref="admin.user({userId: user._id})">{{user.lastName}}</a></td>
      <td><a ui-sref="admin.user({userId: user._id})">{{user.email}}</a></td>
      <td><a ui-sref="admin.user({userId: user._id})">{{user.username}}</a></td>
      <td>{{user.lastLogin ? moment(user.lastLogin).format("DD MMMM YYYY, HH:mm:ss ZZ") : ''}}</td>
      <td>{{user.loginCount}}</td>
      <td>{{user.updated ? moment(user.updated).format("DD MMMM YYYY, HH:mm:ss ZZ") : ''}}</td>
      <td>{{moment(user.created).format("DD MMMM YYYY, HH:mm:ss ZZ")}}</td>
      <td>{{user.roles}}</td>
    </tr>
  </table>

  <ul uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></ul>
</section>
