<section ng-controller="EditProfileController as profile">
  <form name="userForm" ng-submit="profile.updateUserProfile(userForm.$valid)" class="signin" novalidate autocomplete="off">
    <fieldset>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <label>About You</label>
          </div>
          <div class="panel-body">
            <div class="form-group input-group-sm" show-errors>
              <label class="small" for="firstName">First Name *</label>
              <input type="text" id="firstName" name="firstName" class="form-control" ng-model="profile.user.firstName" placeholder="First Name" required>
              <div ng-messages="userForm.firstName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">First name is required.</p>
              </div>
            </div>
            <div class="form-group input-group-sm" show-errors>
              <label class="small" for="lastName">Last Name *</label>
              <input type="text" id="lastName" name="lastName" class="form-control" ng-model="profile.user.lastName" placeholder="Last Name" required>
              <div ng-messages="userForm.lastName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Last name is required.</p>
              </div>
            </div>
            <div class="form-group input-group-sm" show-errors>
              <label class="small" for="email">Email *</label>
              <input type="email" id="email" name="email" class="form-control" ng-model="profile.user.email" placeholder="Email" lowercase required>
              <div ng-messages="userForm.email.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Email address is required.</p>
                <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
              </div>
            </div>
            <!-- <div class="form-group input-group-sm" show-errors>
              <label class="small" for="username">Username *</label>
              <input type="text" id="username" name="username" class="form-control" ng-model="profile.user.username" placeholder="Username" lowercase required>
              <div ng-messages="userForm.username.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Username is required.</p>
              </div>
            </div> -->
            <div class="form-group input-group-sm">
              <label class="small" for="timezone">Your Timezone *</label>
              <div>
                <timezone-selector ng-model="profile.user.timezone" sort-by="offset" show-local="true" set-local="true" width="230px" class="small"></timezone-selector>
              </div>
           </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <label for="emailNewsletter">Tacit Training Newsletter</label>
          </div>
          <div class="panel-body">
            <div class="form-group input-group-sm" show-errors>
              <input type="checkbox" name="emailNewsletter" ng-model="profile.user.emailNewsletter" id="emailNewsletter"> Send me the Tacit Training email newsletter
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-3">
        <div class="panel panel-default" ng-class="{ 'panel-danger' : profile.needsFTP }">
          <div class="panel-heading">
            <label>Functional Threshold Power</label>
          </div>
          <div class="panel-body">
            <div class="form-group input-group-sm" ng-class="{ 'text-danger' : profile.needsFTP }" show-errors>
              <label class="small" for="thresholdPower">Watts *</label>
              <input name="thresholdPower" type="number" min="1" max="999" step="1" ng-model="profile.user.thresholdPower" id="thresholdPower" class="form-control" placeholder="Threshold Power" required>
              <div ng-messages="userForm.thresholdPower.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Threshold Power is required.</p>
              </div>
              <div ng-messages="userForm.thresholdPower.$error" role="alert">
                <p class="help-block error-text" ng-message="min">Threshold Power must be between 1 and 999.</p>
              </div>
              <div ng-messages="userForm.thresholdPower.$error" role="alert">
                <p class="help-block error-text" ng-message="max">Threshold Power must be between 1 and 999.</p>
              </div>
            </div>
            <div class="form-group input-group-sm" show-errors>
              <label class="small" for="thresholdPowerTestDate">Last Test Date *</label>
              <p class="input-group">
              <input type="text" id="thresholdPowerTestDate" name="thresholdPowerTestDate" class="form-control" uib-datepicker-popup="dd MMMM yyyy" ng-model="profile.user.thresholdPowerTestDate" is-open="profile.datePickerStatus.opened" datepicker-options="profile.ftpDateOptions" required close-text="Close" >
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="profile.openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              </p>
              <div ng-messages="userForm.thresholdPowerTestDate.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Threshold Power Test Date is required.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <label>Day of Week Preferences</label>
          </div>
          <div class="panel-body">
            <div class="form-group" show-errors>
              <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Preferred Rest Days" data-content="You may select one or more days that you typically rest to have Tacit Training schedule these days as rest days."><label class="small" for="preferredRestDays">Rest Day(s)</label></a>
              <br>
              <select multiple name="preferredRestDays" class="form-control" ng-model="profile.user.preferredRestDays">
                <option ng-repeat="option in profile.data.daysOfTheWeek" value="{{option.id}}" ng-selected="{{profile.user.preferredRestDays.indexOf(option.id) > -1}}">{{option.name}}</option>
              </select>
            </div>
            <!-- <div class="form-group" show-errors>
              <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Preferred Race Simulation Day" data-content="You may select a day that you  perfer to have Tacit Training schedule race simulation workouts."><label class="small" for="preferredSimulationDay">Race Simulations</label></a>
              <br>
              <select name="preferredSimulationDay" class="form-control" ng-model="profile.user.preferredSimulationDay">
                <option value="">Pick a day</option>
                <option ng-repeat="option in profile.data.daysOfTheWeek" value="{{option.id}}" ng-selected="{{option.id == profile.user.preferredSimulationDay}}">{{option.name}}</option>
              </select>
            </div> -->
          </div>
        </div>

      </div>

      <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-3">

        <div class="panel panel-default">
          <div class="panel-heading">
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" title="Strava Auto-Sync" data-content="If you select 'Fetch Strava activities automatically', when Strava notifies us of new activities we will retrieve your activity data from Strava. Otherwise you will need to manually sync your Strava activities on the My Training Day page."><label for="autoFetchStravaActivities">Strava Auto-Sync</label></a>
          </div>
          <div class="panel-body">
            <div class="form-group input-group-sm" show-errors>
              <div class="radio">
                <label>
                  <input type="radio" name="autoFetchStravaActivities" ng-model="profile.user.autoFetchStravaActivities" id="autoFetchStravaActivitiesTrue" value="true"> Fetch Strava activities automatically
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="autoFetchStravaActivities" ng-model="profile.user.autoFetchStravaActivities" id="autoFetchStravaActivitiesFalse" value="false" checked> Do not automatically fetch
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" title="Use Strava Estimated Power or Suffer Score" data-content="If power meter data is not available for a ride, by default we use Strava's estimated power to compute Training Load. However, some users report that estimated power is not reliable in their region. If you prefer, we can use Strava's Suffer Score for your Training Load rather than computing Training Load using estimated power. Note that Strava provides Suffer Score for Strava Premium members only and is only provided if heart rate is recorded for your ride."><label for="favorSufferScoreOverEstimatedPower">Strava Estimated Power or Suffer Score</label></a><br><span class="small text-warning"><em>Experimental</em></span>
          </div>
          <div class="panel-body">
            <div class="form-group input-group-sm" show-errors>
              <input type="checkbox" name="favorSufferScoreOverEstimatedPower" ng-model="profile.user.favorSufferScoreOverEstimatedPower" id="favorSufferScoreOverEstimatedPower">  Use Suffer Score For Training Load When No Power Meter
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <label for="levelOfDetail">Tacit Training Level of Detail</label>
          </div>
          <div class="panel-body">
            <div class="form-group input-group-sm" show-errors>
              <div class="radio">
                <label>
                  <input type="radio" name="levelOfDetail" ng-model="profile.user.levelOfDetail" id="levelOfDetail1" value="1" checked> Show me advice
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="levelOfDetail" ng-model="profile.user.levelOfDetail" id="levelOfDetail2" value="2"> Show me advice and some numbers
                </label>
              </div>
              <div class="radio" ng-show="profile.user.roles.indexOf('admin') > -1">
                <label>
                  <input type="radio" name="levelOfDetail" ng-model="profile.user.levelOfDetail" id="levelOfDetail3" value="3"> Give me super powers
                </label>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="'row">
      <div class="col-xs-11">
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Save Profile</button>
        </div>
      </div>
    </div>
    </fieldset>
  </form>
</section>
