<section ng-controller="EditProfileController">
  <form name="userForm" ng-submit="updateUserProfile(userForm.$valid)" class="signin" novalidate autocomplete="off">
    <fieldset>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <label>About You</label>
          </div>
          <div class="panel-body">
            <div class="form-group input-group-sm" show-errors>
              <label class="small" for="firstName">First Name *</label>
              <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="First Name" required>
              <div ng-messages="userForm.firstName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">First name is required.</p>
              </div>
            </div>
            <div class="form-group input-group-sm" show-errors>
              <label class="small" for="lastName">Last Name *</label>
              <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last Name" required>
              <div ng-messages="userForm.lastName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Last name is required.</p>
              </div>
            </div>
            <div class="form-group input-group-sm" show-errors>
              <label class="small" for="email">Email *</label>
              <input type="email" id="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" lowercase required>
              <div ng-messages="userForm.email.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Email address is required.</p>
                <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
              </div>
            </div>
            <div class="form-group input-group-sm" show-errors>
              <label class="small" for="username">Username *</label>
              <input type="text" id="username" name="username" class="form-control" ng-model="user.username" placeholder="Username" lowercase required>
              <div ng-messages="userForm.username.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Username is required.</p>
              </div>
            </div>
            <div class="form-group input-group-sm">
              <label class="small" for="timezone">Your Timezone *</label>
              <timezone-selector ng-model="user.timezone" sort-by="offset" show-local="true" set-local="true" width="230px" class="small"></timezone-selector>
           </div>
          </div>
        </div>

      </div>

      <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <label>Functional Threshold Power</label>
          </div>
          <div class="panel-body">
            <div class="form-group input-group-sm" show-errors>
              <label class="small" for="thresholdPower">Watts *</label>
              <input name="thresholdPower" type="number" min="0" max="999" step="1" ng-model="user.thresholdPower" id="thresholdPower" class="form-control" placeholder="Threshold Power" required>
              <div ng-messages="userForm.thresholdPower.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Threshold Power is required.</p>
              </div>
              <div ng-messages="userForm.thresholdPower.$error" role="alert">
                <p class="help-block error-text" ng-message="min">Threshold Power must be between 0 and 999.</p>
              </div>
              <div ng-messages="userForm.thresholdPower.$error" role="alert">
                <p class="help-block error-text" ng-message="max">Threshold Power must be between 0 and 999.</p>
              </div>
            </div>
            <div class="form-group input-group-sm" show-errors>
              <label class="small" for="thresholdPowerTestDate">Last Test Date *</label>
              <input type="date" id="thresholdPowerTestDate" name="thresholdPowerTestDate" class="form-control" ng-model="user.thresholdPowerTestDate" required>
              <div ng-messages="userForm.thresholdPowerTestDate.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Threshold Power Test Date is required.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <label for="levelOfDetail">Tacit Training Level of Detail</label>
          </div>
          <div class="panel-body">
            <div class="form-group input-group-sm" show-errors>
              <div class="radio">
                <label>
                  <input type="radio" name="levelOfDetail" ng-model="user.levelOfDetail" id="levelOfDetail1" value="1" checked> Show me advice
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="levelOfDetail" ng-model="user.levelOfDetail" id="levelOfDetail2" value="2"> Show me advice and some details
                </label>
              </div>
              <div class="radio" ng-show="user.roles.indexOf('admin') > -1">
                <label>
                  <input type="radio" name="levelOfDetail" ng-model="user.levelOfDetail" id="levelOfDetail3" value="3"> Show me everything
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <label>Day of Week Preferences</label>
          </div>
          <div class="panel-body">
            <div class="form-group" show-errors>
              <label class="small" for="preferredRestDays">Rest Day(s)</label>
              <br>
              <select multiple name="preferredRestDays" class="form-control" ng-model="user.preferredRestDays">
                <option ng-repeat="option in data.daysOfTheWeek" value="{{option.id}}" ng-selected="{{user.preferredRestDays.indexOf(option.id) > -1}}">{{option.name}}</option>
              </select>
            </div>
            <div class="form-group" show-errors>
              <label class="small" for="preferredSimulationDay">Race Simulations</label>
              <br>
              <select name="preferredSimulationDay" class="form-control" ng-model="user.preferredSimulationDay">
                <option value="">Pick a day</option>
                <option ng-repeat="option in data.daysOfTheWeek" value="{{option.id}}" ng-selected="{{option.id == user.preferredSimulationDay}}">{{option.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="'row">
      <div class="col-xs-11">
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Save Profile</button>
        </div>
        <!-- <p class="text-center">TrainingPeaks® is a registered trademark of <a href="http://trainingpeaks.com/" class="colored" target="_blank">Peaksware, LLC</a>.</p> -->
      </div>
    </div>
    </fieldset>
  </form>
</section>
