<section class="row" ng-controller="SocialAccountsController">
  <h3 class="col-md-12 text-center" ng-show="hasConnectedAdditionalSocialAccounts()">Connected social accounts:</h3>
  <div class="col-md-12 text-center">
    <div ng-repeat="(providerName, providerData) in user.additionalProvidersData" class="social-account-container">
      <p><img ng-src="/modules/users/client/img/buttons/{{providerName}}.png">
      <a class="btn btn-danger btn-remove-account" ng-click="removeUserSocialAccount(providerName)">
        <i class="glyphicon glyphicon-trash"></i>
      </a></p>
    </div>
  </div>
  <h3 class="col-md-12 text-center" ng-show="hasConnectedAdditionalSocialAccounts()">Unconnected social accounts:</h3>
  <div class="col-md-12 text-center">
    <div class="social-account-container" ng-hide="isConnectedSocialAccount('strava')">
      <img ng-src="/modules/users/client/img/buttons/strava.png">
      <a class="btn btn-success btn-remove-account" href="/api/auth/strava" target="_self">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </div>
    <!--
    <div class="social-account-container" ng-hide="isConnectedSocialAccount('google')">
      <img ng-src="/modules/users/client/img/buttons/google.png">
      <a class="btn btn-success btn-remove-account" href="/api/auth/google" target="_self">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </div>
    -->
  </div>
  <div class="col-md-12 text-center">
    <div class="social-account-container" ng-show="user.provider == 'strava'">
      <h4>You are currently connected with your Strava account.</h4>
      <button type="button" class="btn btn-lg btn-primary" disabled="disabled"><img ng-src="/modules/users/client/img/buttons/strava.png"></button>
    </div>
  </div>
</section>
