<section ng-controller="DashboardController">
  <div layout-xs="column" layout-sm="column" layout="row">
    <div flex-sm="" flex-gt-sm="50" layout="column">
      <md-card ng-show="authentication.user.notifications && _.filter(authentication.user.notifications, ['blocked', false]).length">
        <md-card-header>
          <md-card-header-text>
            <span class="md-title">
              Alerts
            </span>
            <!-- <span class="md-subhead">Plan vs. Actual</span> -->
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
          <div ng-repeat="notification in _.filter(authentication.user.notifications, ['blocked', false]) | orderBy:'alert':true" ui-sref-active="active">
            <a ui-sref="{{notification.state}}" class="list-group-item" ng-class="{ 'user-alert': notification.alert }"><strong>{{notification.message}}</strong></a>
          </div>
        </md-card-content>
      </md-card>

      <md-card ng-show="trainingDayYesterday">
        <md-card-header>
          <md-card-header-text>
            <span class="md-title"><a ui-sref="trainingDayView({trainingDayId: trainingDayYesterday._id})">Yesterday<span ng-show="trainingDayYesterday.name"> - {{trainingDayYesterday.name}}</span></a>
            </span>
            <span class="md-subhead">{{yesterdayFormatted}}</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
          <div ng-show="trainingDayYesterday.completedActivities.length > 0">
            <h4>Completed Rides</h4>
            <table class="table table-bordered table-hover table-condensed">
              <tr>
                <th>Source</th>
                <th>Training Load</th>
                <th>Intensity</th>
                <th>Elevation Gain</th>
              </tr>
              <tr ng-repeat="completedActivity in trainingDayYesterday.completedActivities">
                <td>
                  <span class="text-capitalize">{{ completedActivity.source }}</span></a></span><span class="small" ng-if="completedActivity.source !== 'manual' && completedActivity.edited"> (edited)</span>
                  <span ng-if="completedActivity.source === 'strava'"><a href="{{ 'https://www.strava.com/activities/' + completedActivity.sourceID }}" class="strava-link"><br>View on Strava</a></span>
                </td>
                <td>
                  {{completedActivity.load}}<span class="small" ng-if="completedActivity.loadIsFromEstimatedPower"> (from estimated power)</span><span class="small" ng-if="completedActivity.loadIsSufferScore"> (Suffer Score)</span>
                </td>
                <td>
                  {{completedActivity.intensity}}<span class="small" ng-if="!completedActivity.intensity"> (unknown)</span>
                </td>
                <td>
                  {{completedActivity.elevationGain}} m
                </td>
              </tr>
            </table>
            <label>Training Effort Rating: <i>{{yesterdayMetrics.loadRating}}</i></label>
          </div>
          <div class="top-buffer" ng-show="trainingDayYesterday.completedActivities.length < 1">
            No rides yesterday.
          </div>
        </md-card-content>
      </md-card>

      <md-card ng-show="trainingDayToday">
        <md-card-header>
          <md-card-header-text>
            <span class="md-title"><a ui-sref="trainingDayView({trainingDayId: trainingDayToday._id})">Today<span ng-show="trainingDayToday.name"> - {{trainingDayToday.name}}</span></a>
            </span>
            <span class="md-subhead">{{todayFormatted}}</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
          <div ng-show="trainingDayToday.completedActivities.length < 1">
            <h4>
              <a ui-sref="trainingDayView({trainingDayId: trainingDayToday._id})">{{plannedActivityDescriptionToday.namePhrase}}</a>
              <small>{{plannedActivityDescriptionToday.loadPhrase}}</small>
            </h4>
            <div>
              <p>
                {{plannedActivityToday.advice}}
              </p>
              <div ng-show="requestedActivityToday">
                <h5>You selected an alternative:</h5>
                <p ng-show="requestedActivityToday.activityType !== 'test'">If you do a <strong>{{requestedActivityToday.activityType}} ride</strong> your Training Load should be between <strong><u>{{requestedActivityToday.targetMinLoad}}</u></strong> and <strong><u>{{requestedActivityToday.targetMaxLoad}}</u></strong>.</p>
                <p ng-show="requestedActivityToday.activityType === 'test'">If you do a <strong>threshold power test</strong>, be sure to record  your new FTP <span ng-show="authentication.user.autoUpdateFtpFromStrava">in Strava under Settings | My Performance</span><span ng-show="!authentication.user.autoUpdateFtpFromStrava">and test date on your My Profile page</span>.</p>
              </div>
            </div>
          </div>
          <div ng-show="trainingDayToday.completedActivities.length > 0">
            <h4>Completed Rides</h4>
            <table class="table table-bordered table-hover table-condensed">
              <tr>
                <th>Source</th>
                <th>Training Load</th>
                <th>Intensity</th>
                <th>Elevation Gain</th>
              </tr>
              <tr ng-repeat="completedActivity in trainingDayToday.completedActivities">
                <td>
                  <span class="text-capitalize">{{ completedActivity.source }}</span></a></span><span class="small" ng-if="completedActivity.source !== 'manual' && completedActivity.edited"> (edited)</span>
                  <span ng-if="completedActivity.source === 'strava'"><a href="{{ 'https://www.strava.com/activities/' + completedActivity.sourceID }}" class="strava-link"><br>View on Strava</a></span>
                </td>
                <td>
                  {{completedActivity.load}}<span class="small" ng-if="completedActivity.loadIsFromEstimatedPower"> (from estimated power)</span><span class="small" ng-if="completedActivity.loadIsSufferScore"> (Suffer Score)</span>
                </td>
                <td>
                  {{completedActivity.intensity}}<span class="small" ng-if="!completedActivity.intensity"> (unknown)</span>
                </td>
                <td>
                  {{completedActivity.elevationGain}} m
                </td>
              </tr>
            </table>
            <label>Training Effort Rating: <i>{{todayMetrics.loadRating}}</i></label>
          </div>
        </md-card-content>
      </md-card>

      <md-card ng-show="trainingDayTomorrow">
        <md-card-header>
          <md-card-header-text>
            <span class="md-title"><a ui-sref="trainingDayView({trainingDayId: trainingDayTomorrow._id})">Tomorrow<span ng-show="trainingDayTomorrow.name"> - {{trainingDayTomorrow.name}}</span></a>
            </span>
            <span class="md-subhead">{{tomorrowFormatted}}</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
          <div>
            <h4>
              <a ui-sref="trainingDayView({trainingDayId: trainingDayTomorrow._id})">{{plannedActivityDescriptionTomorrow.namePhrase}}</a>
              <small>{{plannedActivityDescriptionTomorrow.loadPhrase}}</small>
            </h4>
            <div ng-show="trainingDayToday.completedActivities.length > 0 || plannedActivityToday.activityType === 'rest'">
              <p>
                {{plannedActivityTomorrow.advice}}
              </p>
              <div ng-show="requestedActivityTomorrow">
                <h5>You selected an alternative:</h5>
                <p ng-show="requestedActivityTomorrow.activityType !== 'test'">If you do a <strong>{{requestedActivityTomorrow.activityType}} ride</strong> your Training Load should be between <strong><u>{{requestedActivityTomorrow.targetMinLoad}}</u></strong> and <strong><u>{{requestedActivityTomorrow.targetMaxLoad}}</u></strong>.</p>
                <p ng-show="requestedActivityTomorrow.activityType === 'test'">If you do a <strong>threshold power test</strong>, be sure to record  your new FTP <span ng-show="authentication.user.autoUpdateFtpFromStrava">in Strava under Settings | My Performance</span><span ng-show="!authentication.user.autoUpdateFtpFromStrava">and test date on your My Profile page</span>.</p>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <div flex-sm="" flex-gt-sm="50" layout="column">
      <div>
        <md-card>
          <md-card-header>
            <md-card-header-text>
              <span class="md-title">Your Future Events</span></span>
              <span class="md-subhead" ng-show="futureEvents.length < 1">No scheduled events.</span>
            </md-card-header-text>
          </md-card-header>
          <md-card-content>
            <div ng-repeat="futureEvent in futureEvents">
              <a ui-sref="trainingDayView({trainingDayId: futureEvent._id})" class="list-group-item">
                <h5 class="list-group-item-heading">{{futureEvent.date | date:'EEEE, d MMM y'}}<span ng-show="futureEvent.name"> - {{futureEvent.name}}</span></h5>
                <small>
                  <div ng-show="futureEvent.scheduledEventRanking">
                    <p class="list-group-item-text"><b>
                      <span ng-show="futureEvent.scheduledEventRanking === 1">Goal Event!</span>
                      <span ng-show="futureEvent.scheduledEventRanking === 2">Medium Priority Event</span>
                      <span ng-show="futureEvent.scheduledEventRanking === 3">Low Priority Event</span>
                      <span ng-show="futureEvent.scheduledEventRanking === 9">Off Day</span>
                      </b>
                    </p>
                  </div>
                </small>
              </a>
            </div>
            <div class="top-buffer-2x">
              <a ui-sref="trainingDays.createEvent"><strong>Schedule event or day off</strong></a>
            </div>
          </md-card-content>
        </md-card>

      <md-card>
        <md-card-header>
          <md-card-header-text>
            <span class="md-title">
              Load By Week
            </span>
            <span class="md-subhead">Actual vs. Plan</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
          <div>
            <canvas id="bar" class="chart chart-bar" chart-options="loadOptions"
              chart-data="loadData" chart-labels="loadLabels" chart-series="loadSeries">
            </canvas>
          </div>
        </md-card-content>
      </md-card>
      </div>
    </div>
  </div>
</section>
