<section ng-controller="TrainingDaysController" ng-init="findOne()">
  <div class="page-header">
    <h2>Edit TrainingDay</h2>
  </div>
  <div class="col-md-12">
    <form name="trainingDayForm" class="form-horizontal" ng-submit="update(trainingDayForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="name">Name</label>
          <input name="name" type="text" ng-model="trainingDay.name" id="name" class="form-control" placeholder="Name">
        </div>
<!-- TODO: only allow date edit if this is a goal event (?) -->
        <!-- <div class="form-group" show-errors>
          <label for="date">Date</label>
          <p class="input-group">
          <input type="text" id="date" name="date" class="form-control" uib-datepicker-popup="dd MMMM yyyy" ng-model="trainingDay.date" init-date="{{trainingDay.date}}" is-open="datePickerStatus.opened" datepicker-options="dateOptions" required close-text="Close" >
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          </p>
          <div ng-messages="trainingDayForm.date.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Date is required.</p>
          </div>
        </div> -->

       <!--  <div class="form-group" show-errors>
          <label for="fitness">Fitness (CTL)</label>
          <input name="fitness" type="number" min="0" max="199" step="0.1" ng-model="trainingDay.fitness" id="fitness" class="form-control" placeholder="Fitness">
          <div ng-messages="trainingDayForm.fitness.$error" role="alert">
            <p class="help-block error-text" ng-message="min">Fitness must be between 0 and 199.</p>
          </div>
          <div ng-messages="trainingDayForm.fitness.$error" role="alert">
            <p class="help-block error-text" ng-message="max">Fitness must be between 0 and 199.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="fatigue">Fatigue (ATL)</label>
          <input name="fatigue" type="number" min="0" max="199" step="0.1" ng-model="trainingDay.fatigue" id="fatigue" class="form-control" placeholder="Fatigue">
          <div ng-messages="trainingDayForm.fatigue.$error" role="alert">
            <p class="help-block error-text" ng-message="min">Fatigue must be between 0 and 199.</p>
          </div>
          <div ng-messages="trainingDayForm.fatigue.$error" role="alert">
            <p class="help-block error-text" ng-message="max">Fatigue must be between 0 and 199.</p>
          </div>
        </div> -->

<!--         <div class="form-group" show-errors>
          <label for="priority">Priority</label><br>
          <select name="priority" class="form-control" ng-model="trainingDay.priority" required >
            <option ng-repeat="option in data.priorityRatings" value="{{option.id}}" ng-selected="{{trainingDay.priority.indexOf(option.id) > -1}}">{{option.name}}</option>
          </select>
          <div ng-messages="trainingDayForm.priority.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Priority is required.</p>
          </div>
        </div>
 -->
        <div class="form-group" show-errors>
          <label for="estimatedGoalLoad">Estimated Load (TSS®) if Known</label>
          <input name="estimatedGoalLoad" type="number" min="0" max="999" step="10" ng-model="trainingDay.estimatedGoalLoad" id="estimatedGoalLoad" class="form-control" placeholder="Estimated Load">
          <div ng-messages="trainingDayForm.estimatedGoalLoad.$error" role="alert">
            <p class="help-block error-text" ng-message="min">Load estimate must be between 0 and 999.</p>
          </div>
          <div ng-messages="trainingDayForm.estimatedGoalLoad.$error" role="alert">
            <p class="help-block error-text" ng-message="max">Load estimate must be between 0 and 999.</p>
          </div>
        </div>

        <!-- <div class="form-group" show-errors>
          <label for="estimatedDuration">Estimated Duration in Minutes</label>
          <input name="estimatedDuration" type="number" min="0" max="9999" step="10" ng-model="trainingDay.plannedActivities[0].estimatedDuration" id="estimatedDuration" class="form-control" placeholder="Estimated Duration" required>
          <div ng-messages="trainingDayForm.estimatedDuration.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Estimated Duration is required.</p>
          </div>
          <div ng-messages="trainingDayForm.estimatedDuration.$error" role="alert">
            <p class="help-block error-text" ng-message="min">Estimated Duration must be between 0 and 9999 minutes.</p>
          </div>
          <div ng-messages="trainingDayForm.estimatedDuration.$error" role="alert">
            <p class="help-block error-text" ng-message="max">Estimated Duration must be between 0 and 9999 minutes.</p>
          </div>
        </div> -->

<!--         <div class="form-group" show-errors>
          <label for="targetIntensity">Estimated Intensity (Intensity Factor)</label>
          <input name="targetIntensity" type="number" min="0" max="2" step=".05" ng-model="trainingDay.targetIntensity" id="targetIntensity" class="form-control" placeholder="Estimated Intensity" required>
          <div ng-messages="trainingDayForm.targetIntensity.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Estimated Intensity is required.</p>
          </div>
          <div ng-messages="trainingDayForm.targetIntensity.$error" role="alert">
            <p class="help-block error-text" ng-message="min">Estimated Intensity must be between 0.0 and 2.0.</p>
          </div>
          <div ng-messages="trainingDayForm.targetIntensity.$error" role="alert">
            <p class="help-block error-text" ng-message="max">Estimated Intensity must be between 0.0 and 2.0.</p>
          </div>
        </div>
 -->
<!--         <div class="form-group" show-errors>
          <label for="inRandR">InRandR</label>
          <input name="inRandR" type="checkbox" ng-model="trainingDay.inRandR" id="inRandR" class="form-control">
        </div>
 -->
        <div class="form-group">
          <label for="notes">Notes</label>
          <textarea name="notes" ng-model="trainingDay.notes" id="notes" class="form-control" cols="30" rows="10" placeholder="Notes"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
