<section ng-controller="TrainingDaysController">
  <div class="page-header">
    <h1>Get Advice</h1>
  </div>
  <form name="trainingDayForm" class="form-horizontal" ng-submit="getAdvice(trainingDayForm.$valid)" novalidate>
    <fieldset>

      <div class="form-group" show-errors>
        <div class="col-md-4">
          <label for="adviceDate">Training Date</label>
          <p class="input-group">
          <input type="text" id="adviceDate" name="adviceDate" class="form-control" uib-datepicker-popup="dd MMMM yyyy" ng-model="adviceDate" init-date="{{adviceDate}}" is-open="datePickerStatus.opened" min-date="{{minAdviceDate}}" max-date="{{maxAdviceDate}}" datepicker-options="dateOptions" required close-text="Close" >
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          </p>
          <div ng-messages="trainingDayForm.adviceDate.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Training Date is required.</p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <button type="submit" class="btn btn-default">Get Advice</button>
        </div>
      </div>
      <div ng-show="error" class="text-danger">
        <strong ng-bind="error"></strong>
      </div>

    </fieldset>
  </form>
</section>
