<section ng-controller="TrainingDaysController" ng-init="chart()">
  <div class="page-header">
    <h2>
      My Season
    </h2>
  </div>
  <div class="alert alert-warning text-center" ng-hide="hasStart && hasEnd">
    <span ng-hide="hasStart">To get started you need to create a <a ui-sref="trainingDays.createStart">Start Day</a>.</span>
    <span ng-hide="hasEnd"> You should specify at least one <a ui-sref="trainingDays.createEvent({'eventPriority': '1'})">Goal Event</a> for the current season to give your training focus.</span>
  </div>
  <div>
    <div class="pull-left">
      <md-button ng-show="hasStart" ui-sref="trainingDays.getAdvice()">Get Advice</md-button>
    </div>
    <div class="pull-left">
      <md-button class="md-warn md-hue-2" ng-show="hasStart && hasEnd && needsPlanGen" ng-click="genPlan()">Update Plan</md-button>
    </div>
    <div class="pull-right">
      <md-button ui-sref="trainingDays.calendar()">Calendar</md-button>
    </div>
  </div>
  <div us-spinner="{radius:50, width:8, length: 16}" spinner-key="tdSpinner" style="position: relative"></div>
  <div ng-show="error" class="text-danger">
    <strong ng-bind="error"></strong>
  </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <canvas id="base" class="chart chart-bar"
            chart-data="chartData" chart-labels="chartLabels" 
            chart-dataset-override="chartDatasetOverride">
          </canvas>
          <!-- chart-colors="chartColors" -->
        </div>
      </div>
</section>
