<section ng-controller="SeasonController" ng-init="viewSeason()">
  <div class="top-buffer-4x" us-spinner="{radius: 10, width: 3, length: 6}" spinner-key="tdSpinner" style="position: relative"></div>
  <div class="alert alert-info text-center" ng-hide="hasEnd">
    <span ng-hide="hasEnd"> You should add a <a class="alert-link" ui-sref="trainingDays.createEvent({'scheduledEventRanking': '1'})">Goal Event</a> in order to generate a useful season plan.</span>
  </div>

  <div>
    <div class="alert alert-danger text-center" ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>

    <div class="panel" ng-class="{'panel-warning' : simMode}">
      <div class="panel-heading" ng-hide="simMode">
        <div class="pull-left">
          <md-button ng-class="{'color-tacit-red' : needsPlanGen}" ng-click="genPlan()">Update Forecast</md-button>
        </div>
        <div class="pull-left">
          <md-button ng-show="todayID" ui-sref="trainingDayView({trainingDayId: todayID})">Go To Today</md-button>
        </div>
        <div class="pull-right">
          <md-button id="season-help" aria-label="Season Help" data-toggle="modal" data-target="#seasonHelp">
            My Season Help
          </md-button>
        </div>
        <h1 class="panel-title text-center season-panel-title">
          <a tabindex="0" role="button" data-toggle="popover" data-placement="bottom" data-content="Click on chart legend to show and hide values."><span class="color-tacit-red legend-tip">*</span></a>
        </h1>
      </div>
      <div class="panel-heading" ng-show="simMode">
        <h1 class="panel-title text-center season-panel-title">SIMULATION MODE</h1>
      </div>
      <div class="panel-body">
        <div>
          <md-button ng-disabled="startX == 0" class='md-icon-button' ng-click='showPrevDays()' title="Show from season start" aria-label='Show from season start'>
            <i class="material-icons md-24">first_page</i>
          </md-button>
          <md-button ng-disabled="startX == 0" class='md-icon-button' ng-click='showPrevDays(7)' title="Back 7 days" aria-label='Back 7 days'>
            <i class="material-icons md-24">chevron_left</i>
          </md-button>
          <md-button ng-disabled="startX >= todayX - 1" class='md-icon-button' ng-click='showPrevDays(-7)' title="Forward 7 days" aria-label='Forward 7 days'>
            <i class="material-icons md-24">chevron_right</i>
          </md-button>
          <md-button ng-disabled="startX >= todayX - 1" class='md-icon-button' ng-click='showPrevDays(0)' title="Show from yesterday" aria-label='Show from yesterday'>
            <i class="material-icons md-24">last_page</i>
          </md-button>

          <md-button ng-disabled="viewLength >= seasonLength" class='md-icon-button pull-right' ng-click='showNextDays()' title="Show thru season end" aria-label='Show thru season end'>
            <i class="material-icons md-24">last_page</i>
          </md-button>
          <md-button ng-disabled="viewLength >= seasonLength" class='md-icon-button pull-right' ng-click='showNextDays(7)' title="Forward 7 days" aria-label='Forward 7 days'>
            <i class="material-icons md-24">chevron_right</i>
          </md-button>
          <md-button ng-disabled="viewLength <= todayX + 1" class='md-icon-button pull-right' ng-click='showNextDays(-7)' title="Back 7 days" aria-label='Back 7 days'>
            <i class="material-icons md-24">chevron_left</i>
          </md-button>
          <md-button ng-disabled="viewLength <= todayX + 1" class='md-icon-button pull-right' ng-click='showNextDays(0)' title="Show thru today" aria-label='Show thru today'>
            <i class="material-icons md-24">first_page</i>
          </md-button>
        </div>
        <canvas id="base" class="chart chart-bar" chart-options="chartOptions" chart-colors="chartColors" chart-data="chartData" chart-labels="chartLabels" chart-dataset-override="chartDatasetOverride" chart-click="onChartClick">
        </canvas>
        <md-button ng-disabled="simMode" class="color-tacit-red" ng-click="startSim()" aria-label="Start">
          What If?
        </md-button>
        <md-button ng-disabled="!simConfigUnderway" ng-class="{'color-tacit-red' : simConfigUnderway}" ng-click="runSim()" aria-label="Run">
          Run
        </md-button>
        <md-button ng-disabled="!simHasRun" ng-click="commitSim()" aria-label="Commit">
          Commit
        </md-button>
        <md-button ng-disabled="!simHasRun" ng-click="revertSim()" aria-label="Revert">
          Revert
        </md-button>
        <md-button ng-disabled="!simMode" ng-click="cancelSim()" aria-label="Cancel">
          Cancel
        </md-button>
        <div class="pull-right">
          <md-button aria-label="What-If Help" data-toggle="modal" data-target="#simHelp">
            What-If Help
          </md-button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="seasonHelp" tabindex="-1" role="dialog" aria-labelledby="aboutMySeason">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="aboutMySeason">Understanding My Season</h4>
        </div>
        <div class="modal-body">
          <p><b>Click on the chart legend</b> to show and hide values. This can be helpful when viewing your season.</p>
          <p><strong>My Season</strong> is a graphical representation of your training plan from season start through your last goal event.
          The graph shows both planned and historical values. The planned calculations show our forecast of your fitness if you follow our recommendations. The historical measurements are a reflection of the actual work you did. By comparing the two you can see how your training is progressing.</p>
          <!-- <p>This method of producing a training plan is very different from other training planning tools. These tools typically generate a plan at the beginning of the season and then expect the athlete to follow them as best they can. Significant deviations from the plan, due to illness, work or family obligations, or whatever, ofter completely negate the plan and require major </p> -->
          <p>The values displayed are:</p>
          <ul>
            <li><strong>Load</strong> - a daily measurement of how much work - your <strong>training load</strong> - is planned and how much you did.</li>
            <li><strong>Fitness</strong> - a numerical representation of your fitness level - actual and planned - based on training load over the previous six weeks.</li>
            <li><strong>Fatigue</strong> - a representation of your level of fatigue based on training load over the previous week or so. We only display actual fatigue as projected fatigue is not especially useful.</li>
            <li><strong>Form</strong> - actual and planned - is fitness minus fatigue and is an indication of your ability to perform on a given day.
            In general you want form to be slightly positive and trending up for your most important events.</li>
          </ul>
          <p>The forecast is based on the assumption that you follow our load recommendations perfectly. Because life rarely happens as planned, this is a somewhat artificial view of your training future. That is why we built Tacit Training to be dynamic. Every time you click <strong>Update Forecast</strong> all future values are recomputed based on your current levels, reflected in the way the fitness and form lines merge when the season is updated. If does not matter if your historical values are above or below what was planned. Future recommendations are always based on current fitness, fatigue and form.</p>
          <p>Read about these measurements and more on <a href="https://support.strava.com/hc/en-us/sections/203773927-Strava-Glossary-Calculations" target="blank"><strong>Strava</strong></a>.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="simHelp" tabindex="-1" role="dialog" aria-labelledby="runningWhatIfSimulations">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="runningWhatIfSimulations">Running "What-If" Simulations</h4>
        </div>
        <div class="modal-body">
          <p><strong>The What-If Simulator allows you to see how your season would be affected by
          doing events that are not currently on your calendar without changing your calendar.</strong></p>
          <p>You can also see what would happen if you remove or change events that are already on your calendar.
          In addition, you can see what happens if you take one or more days off.</p>
          <p><strong>To run the simulator:</strong></p>
          <ol>
            <li>Click the "What If?" button to enter simulation mode.</li>
            <li>Click on the day on the graph you want to change.</li>
            <li>Set up the day to reflect the expected demands of the event.</li>
            <li>Click the Run button to see how your season would be affected if you do the event.</li>
            <li>If you want to apply the changes you made to your season click Commit.</li>
            <li>To discard the changes click Revert.</li>
          </ol>
          <p>Note that you can change as many days as you like before running the simulator.
          You can also run the simulator as many times as you need before keeping or discarding your changes.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="simDay.html">
    <div class="modal-header">
        <h2 class="modal-title">Enter What-If</h2>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert-danger text-center" ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-5">
          <h4 class="text-right">{{trainingDay.date | date:'EEEE, MMM d, y'}}</h4>
        </div>
        <div class="col-xs-7">
          <h4>
            <a href="#" editable-textarea="trainingDay.name" e-rows="1" e-cols="20"><span ng-hide="trainingDay.name" class="text-default">training day name (optional)</span><span ng-show="trainingDay.name">{{trainingDay.name}}</span></a>
          </h4>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-5">
          <h4 class="text-right">Scheduled</h4>
        </div>
        <div class="col-xs-7">
          <h4>
              <a href="#" editable-radiolist="trainingDay.scheduledEventRanking" e-ng-options="s.value as s.text for s in ::eventRankings track by s.value">{{showRanking()}}</a>
          </h4>
        </div>
      </div>

      <div class="row" ng-show="trainingDay.scheduledEventRanking == 1">
        <div class="col-xs-5">
          <h4 class="text-right">Estimated Load:</h4>
        </div>
        <div class="col-xs-7">
          <h4>
              <span><a href="#" editable-textarea="trainingDay.estimatedLoad" e-rows="1" e-cols="5">{{trainingDay.estimatedLoad}}</a></span>
          </h4>
        </div>
      </div>

      <div class="row" ng-show="trainingDay.scheduledEventRanking == 1">
        <div class="col-xs-5">
          <h4 class="text-right">Expected Terrain</h4>
        </div>
        <div class="col-xs-7">
          <h4>
              <a href="#" editable-radiolist="trainingDay.eventTerrain" e-ng-options="s.value as s.text for s in ::eventTerrains track by s.value">{{showTerrain()}}</a>
          </h4>
        </div>
      </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="saveSimDay()">Done</button>
        <button class="btn btn-warning" type="button" ng-click="cancelSimDay()">Cancel</button>
    </div>
  </script>
</section>
