<section ng-controller="TrainingDaysController" ng-init="viewSeason()">
  <div class="page-header">
    <h2>
      My Season
    </h2>
  </div>
  <div class="alert alert-warning text-center" ng-hide="hasStart && hasEnd">
    <span ng-hide="hasStart">To get started you need to create a <a ui-sref="trainingDays.createStart">Start Day</a>.</span>
    <span ng-hide="hasEnd"> You must specify at least one <a ui-sref="trainingDays.createEvent({'scheduledEventRanking': '1'})">Goal Event</a> for the current season to generate a training plan.</span>
  </div>
  <div>
    <div class="pull-left">
      <md-button ng-show="hasStart" ng-disabled="simMode" ui-sref="trainingDays.getAdvice()">Get Advice</md-button>
    </div>
    <div class="pull-left">
      <md-button class="md-warn md-hue-2" ng-show="hasStart && hasEnd && needsPlanGen" ng-disabled="simMode" ng-click="genPlan()">Update Plan</md-button>
      <!-- ng-class="{'md-warn' : needsPlanGen, 'md-hue-2' : needsPlanGen}" -->
    </div>
    <div class="pull-right">
      <md-button ng-disabled="simMode" ui-sref="calendar()">Calendar</md-button>
    </div>
  </div>
  <div us-spinner="{radius:50, width:8, length: 16}" spinner-key="tdSpinner" style="position: relative"></div>
  <div class="alert alert-danger text-center" ng-show="error" class="text-danger">
    <strong ng-bind="error"></strong>
  </div>
  <div class="panel panel-default season-chart" ng-class="{'panel-warning' : simMode}">
    <div class="panel-heading" ng-show="simMode">
      <h1 class="panel-title text-center">Simulation Mode</h1>
    </div>
    <div class="panel-body">
      <canvas id="base" class="chart chart-bar" chart-options="chartOptions" chart-data="chartData" chart-labels="chartLabels" chart-dataset-override="chartDatasetOverride" chart-click="onChartClick">
      </canvas>
    </div>
    <div class="md-toolbar-tools">
      <h4>
        <span>Run What-If Simulations</span>
      </h4>
      <span flex="5"></span>
      <md-button ng-disabled="simMode" class="md-warn md-hue-2" ng-click="startSim()" aria-label="Start">
        Start
      </md-button>
      <md-button ng-disabled="!simInProgress" ng-click="runSim()" aria-label="Run Sim">
        Run Sim
      </md-button>
      <md-button ng-disabled="!simApplied" ng-click="commitSim()" aria-label="Commit">
        Commit
      </md-button>
      <md-button ng-disabled="!simApplied" ng-click="revertSim()" aria-label="Revert">
        Revert
      </md-button>
      <md-button ng-disabled="!simMode" ng-click="cancelSim()" aria-label="Cancel">
        Cancel
      </md-button>
      <span flex=""></span>
      <md-button class="md-raised" aria-label="What-If Help">
        What-If Help
      </md-button>
    </div>
  </div>

  <script type="text/ng-template" id="simDay.html">
    <div class="modal-header">
        <h2 class="modal-title">Enter What-If</h2>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert-danger text-center" ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-5">
          <h4 class="text-right">{{trainingDay.date | date:'EEEE, MMM d, y'}}</h4>
        </div>
        <div class="col-xs-7">
          <h4>
            <a href="#" editable-textarea="trainingDay.name" e-rows="1" e-cols="20"><span ng-hide="trainingDay.name" class="text-default">training day name (optional)</span><span ng-show="trainingDay.name">{{trainingDay.name}}</span></a>
          </h4>
        </div>
      </div>
    
      <div class="row">
        <div class="col-xs-5">
          <h4 class="text-right">Scheduled</h4>
        </div>
        <div class="col-xs-7">
          <h4>
              <a href="#" editable-radiolist="trainingDay.scheduledEventRanking" e-ng-options="s.value as s.text for s in ::eventRankings track by s.value">{{showRanking()}}</a>
          </h4>
        </div>
      </div>

      <div class="row" ng-show="trainingDay.scheduledEventRanking != 0 && trainingDay.scheduledEventRanking != 9">
        <div class="col-xs-5">
          <h4 class="text-right">Estimated Load:</h4>
        </div>
        <div class="col-xs-7">
          <h4>
              <span><a href="#" editable-textarea="trainingDay.estimatedLoad" e-rows="1" e-cols="5">{{trainingDay.estimatedLoad}}</a></span>
          </h4>
        </div>
      </div>


    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="saveSimDay()">Done</button>
        <button class="btn btn-warning" type="button" ng-click="cancelSimDay()">Cancel</button>
    </div>
  </script>


</section>
