<section ng-controller="TrainingDaysController" ng-init="viewTrainingDay()" ng-show="authentication.user._id == trainingDay.user._id">
  <div class="page-header">
    <h4>
      <md-button ng-disabled="trainingDay.startingPoint" class='md-icon-button' ng-click='getDay(previousDay)' aria-label='Previous day'>
        <md-icon md-svg-src="/modules/trainingdays/client/img/svg/chevron-left.svg"></md-icon>
      </md-button>
      {{trainingDay.date | date:'EEEE, MMM d, y'}} - <a href="#" editable-textarea="trainingDay.name" e-rows="1" e-cols="26" onbeforesave="update(true)"><small ng-hide="trainingDay.name" class="text-default">training day name</small><span ng-show="trainingDay.name">{{trainingDay.name}}</span></a>
      <small class="text-danger" ng-show="trainingDay.startingPoint">This is your season start</small>
      <small class="text-danger" ng-show="trainingDay.fitnessAndFatigueTrueUp && !trainingDay.startingPoint">This is a Fitness and Fatigue True Up Day</small>
      <md-button class='md-icon-button pull-right' ng-click='getDay(nextDay)' aria-label='Previous day'>
        <md-icon md-svg-src="/modules/trainingdays/client/img/svg/chevron-right.svg"></md-icon>
      </md-button>
    </h4>
  </div>
  <div class="pull-right">
    <a ng-show="trainingDay.completedActivities.length < 1 && showGetAdvice" class="btn btn-primary btn-sm" ng-click="getAdvice(true, trainingDay.date)" title="Get advice">
      <span ng-show="trainingDay.plannedActivities.length < 1">Get Advice</span>
      <span ng-show="trainingDay.plannedActivities.length > 0">Update Advice</span>
    </a>
    <a class="btn btn-default btn-sm" ng-click="remove();" title="Delete training day">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
    <a class="btn btn-default btn-sm" ui-sref="season()" title="Season">
      Season
    </a>
    <a class="btn btn-default btn-sm" ui-sref="calendar()" title="Calendar">
      Calendar
    </a>
  </div>
  <div>
    <h4>
      <a href="#" editable-radiolist="trainingDay.scheduledEventRanking" e-ng-options="s.value as s.text for s in ::eventRankings track by s.value" onbeforesave="updateEventRanking($data)">{{showRanking()}}</a>
      <span ng-show="trainingDay.scheduledEventRanking && trainingDay.scheduledEventRanking !== 9"><small>Estimated Training Load: <a href="#" editable-textarea="trainingDay.estimatedLoad" e-rows="1" e-cols="5" onbeforesave="updateEstimatedLoad($data)">{{trainingDay.estimatedLoad}}</a></small></span>
    </h4>
  </div>
  <div ng-show="trainingDay.plannedActivities[0].activityType">
    <p>
      <div>
        <label>Today's Advice:
          <span ng-show="trainingDay.plannedActivities[0].activityType === 'choice'">You decide. Cross-training is a viable alternative today.</span>
          <span ng-show="trainingDay.plannedActivities[0].activityType === 'rest'">You should rest.</span>
          <span ng-show="trainingDay.plannedActivities[0].activityType === 'easy'">You should go easy.</span>
          <span ng-show="trainingDay.plannedActivities[0].activityType === 'moderate'">You should do a moderate ride.</span>
          <span ng-show="trainingDay.plannedActivities[0].activityType === 'hard'">You should go hard.</span>
          <span ng-show="trainingDay.plannedActivities[0].activityType === 'test'">You should do a threshold power test.</span>
          <span ng-show="trainingDay.plannedActivities[0].activityType === 'simulation'">You should do a goal event simulation.</span>
        </label>
      </div>
      <div>
        {{trainingDay.plannedActivities[0].advice}}
        <span ng-hide="_.includes(['rest', 'easy', 'test', 'choice', 'event'], trainingDay.plannedActivities[0].activityType) || trainingDay.estimatedLoad === trainingDay.plannedActivities[0].targetMinLoad">
          Today's load should be between <strong><u>{{trainingDay.plannedActivities[0].targetMinLoad}}</u></strong> and <strong><u>{{trainingDay.plannedActivities[0].targetMaxLoad}}</u></strong>.
        </span>
        <span ng-show="trainingDay.plannedActivities[0].activityType == 'event' && trainingDay.scheduledEventRanking && trainingDay.scheduledEventRanking !== 9 && trainingDay.estimatedLoad < 1">
          You provided no load estimate for this event. Our load recommendation for a workout today would be between <strong><u>{{trainingDay.plannedActivities[0].targetMinLoad}}</u></strong> and <strong><u>{{trainingDay.plannedActivities[0].targetMaxLoad}}</u></strong>.
        </span>
         <span ng-show="trainingDay.plannedActivities[0].activityType == 'event' && trainingDay.estimatedLoad">
          Your load estimate for this event is <strong><u>{{trainingDay.estimatedLoad}}</u></strong>.
        </span>
        <span ng-show="_.includes(['easy'], trainingDay.plannedActivities[0].activityType)">
          Keep Training Load below <strong>{{trainingDay.plannedActivities[0].targetMaxLoad}}</strong>.
        </span>
      </div>
    </p>
    <p>
      <div class="form-inline form-group" ng-show="showGetAdvice">
        <label for="alternativeActivityType">I want to </label>
        <select name="alternativeActivityType" class="form-control" ng-model="alternateActivity" ng-options="activity.value as activity.text for activity in activityTypes | filter: {value: '!' + trainingDay.plannedActivities[0].activityType }" ng-change="getAdvice(true, trainingDay.date)">
          <option value="">Pick an alternative</option>
        </select>
        <label>instead.</label>
      </div>
      <div ng-show="trainingDay.plannedActivities[1]">
        <span ng-show="trainingDay.plannedActivities[1].activityType !== 'test' && trainingDay.plannedActivities[1].activityType !== 'simulation'">If you do a <strong>{{trainingDay.plannedActivities[1].activityType}} ride</strong> your Training Load should be between <strong><u>{{trainingDay.plannedActivities[1].targetMinLoad}}</u></strong> and <strong><u>{{trainingDay.plannedActivities[1].targetMaxLoad}}</u></strong>.</span>
        <span ng-show="trainingDay.plannedActivities[1].activityType === 'simulation' && trainingDay.plannedActivities[1].targetMinLoad > 0">If you do a <strong>goal event simulation</strong>, your Training Load should be approximately <strong><u>{{trainingDay.plannedActivities[1].targetMinLoad}}</u></strong> TSS®.</span>
        <span ng-show="trainingDay.plannedActivities[1].activityType === 'simulation' && trainingDay.plannedActivities[1].targetMinLoad === 0">A <strong>goal event simulation</strong> is not possible as no future goal events exist in the current season.</span>
        <span ng-show="trainingDay.plannedActivities[1].activityType === 'test'">If you do a <strong>threshold power test</strong>, be sure to record your new FTP and test date on your My Profile page.</span>
      </div>
    </p>
    <hr />
  </div>
  <div ng-show="showFormAndFitness">
      <div>
        <label class="title">Fitness: </label>
        <span>{{ getMetrics().fitness }}</span>
      </div>
      <div>
        <label class="title">Fatigue: </label>
        <span>{{ getMetrics().fatigue }}</span>
      </div>
    <p>
      <label>Form:</label> {{ getMetrics().form }}
      <abbr ng-show="trainingDay.fitnessAndFatigueTrueUp || trainingDay.startingPoint" class="text-info small" title="Form is usually calculated from the previous day's Fitness and Fatigue. On a start or true-up day, the current day's Fitness and Fatigue are used.">approximate - today is <span ng-show="trainingDay.startingPoint">your season start</span><span ng-show="trainingDay.fitnessAndFatigueTrueUp && !trainingDay.startingPoint">a true-up day</span></abbr>
      <span ng-show="authentication.user.levelOfDetail > 2"><br/>Seven Day Fitness Ramp Rate is {{ getMetrics().sevenDayRampRate }}. Target Ramp Rate is {{ getMetrics().sevenDayTargetRampRate }}.</span>
    </p>
  </div>
  <p>
    <label>Notes on the Day: </label>
    <a href="#" editable-textarea="trainingDay.notes" e-rows="7" e-cols="40" onbeforesave="update(true)">
      <pre>{{ trainingDay.notes || 'no notes' }}</pre>
    </a>
  </p>
  <div ng-show="showCompletedActivities">
    <div ng-hide="trainingDay.completedActivities.length > 0">
      <label>No Completed Rides for the Day</label>
    </div>
    <div ng-show="trainingDay.completedActivities.length > 0">
      <p>
        <label>Completed Rides</label>
        <table class="table table-bordered table-hover table-condensed">
          <tr style="font-weight: bold">
            <!-- <td style="width:10%">Type</td> -->
            <td style="width:10%">Source</td>
            <td style="width:10%">Training Load</td>
            <!-- <td style="width:10%">Intensity</td> -->
            <td style="width:50%">Activity Notes</td>
            <td style="width:20%"></td>
          </tr>
          <tr ng-repeat="completedActivity in trainingDay.completedActivities">
              <td>
                <span ng-if="completedActivity.source === 'strava'"><a href="{{ 'https://www.strava.com/activities/' + completedActivity.sourceID }}" class="strava-link">View on Strava</a></span>
                <span ng-if="completedActivity.source !== 'strava'">{{ completedActivity.source }}</span>
              </td>
              <td>
                <span editable-number="completedActivity.load" e-name="load" e-min="0" e-max="999" e-step="1" e-form="completedActivityForm" e-required>{{ completedActivity.load }}</span>
              </td>
              <td>
                <span editable-textarea="completedActivity.notes" e-rows="2" e-cols="70" e-name="notes" e-form="completedActivityForm">
                  {{ completedActivity.notes }}
                </span>
              </td>
              <td style="white-space: nowrap">
                <form editable-form name="completedActivityForm" ng-show="completedActivityForm.$visible" onbeforesave="saveCompletedActivity($data, completedActivity.created)" class="form-buttons form-inline" shown="inserted == completedActivity">
                  <div class="buttons">
                    <button type="submit" ng-disabled="completedActivityForm.$waiting" class="btn btn-primary btn-xs">
                      save
                    </button>
                    <button type="button" ng-disabled="completedActivityForm.$waiting" ng-click="completedActivityForm.$cancel()" class="btn btn-default btn-xs">
                      cancel
                    </button>
                  </div>
                </form>
                <div class="buttons" ng-show="!completedActivityForm.$visible">
                  <button class="btn btn-default btn-xs" ng-click="completedActivityForm.$show()">edit</button>
                  <button class="btn btn-default btn-xs" ng-click="deleteCompletedActivity($index)">delete</button>
                </div>
              </td>
          </tr>
        </table>
      </p>
    </div>
    <div us-spinner="{radius:50, width:8, length: 16}" spinner-key="tdSpinner" style="position: relative"></div>
    <p ng-show="trainingDay.completedActivities.length > 0">
      <label>Training Load Rating: <i>{{trainingDay.loadRating}}</i></label>
    </p>
    <p>
      <!-- only show download option if connected to Strava. -->
      <a href="#" ng-click="downloadActivities('strava')" title="Download activities from Strava" ng-show="isConnectedSocialAccount('strava')">
        <!-- Strava Download -->
        <img class="download-btn-image" ng-src="/modules/trainingdays/client/img/buttons/strava.png">
      </a>
      <!-- only show download option if we have TP creds. -->
      <a href="#" ng-click="downloadActivities('trainingpeaks')" title="Download workouts from TrainingPeaks®" ng-show="authentication.user.trainingPeaksCredentials.username && authentication.user.trainingPeaksCredentials.password">
        <img class="download-btn-image" ng-src="/modules/trainingdays/client/img/buttons/trainingpeaks.png">
      </a>
      <button class="btn btn-default" title="Manually add activity" ng-click="addCompletedActivity()">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      </button>
    </p>
    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>
  </div>
  <div ng-show="authentication.user.levelOfDetail > 2">
    <small>
      <div>dateNumeric: {{trainingDay.dateNumeric}}</div>
      <div>Rationale: {{trainingDay.plannedActivities[0].rationale }}</div>
      <div>startingPoint: {{trainingDay.startingPoint }}</div>
      <div>period: {{trainingDay.period }}</div>
      <div>loadRating: {{trainingDay.loadRating}}</div>
      <div>daysUntilNextGoalEvent: {{trainingDay.daysUntilNextGoalEvent}}</div>
      <div>daysUntilNextPriority2Event: {{trainingDay.daysUntilNextPriority2Event}}</div>
      <div>daysUntilNextPriority3Event: {{trainingDay.daysUntilNextPriority3Event}}</div>
      <div>user.fatigueTimeConstant: {{authentication.user.fatigueTimeConstant}}</div>
      <div>sevenDayRampRate: {{getMetrics().sevenDayRampRate}}</div>
      <div>sevenDayTargetRampRate: {{getMetrics().sevenDayTargetRampRate}}</div>
      <div>rampRateAdjustmentFactor: {{getMetrics().rampRateAdjustmentFactor}}</div>
      <div>dailyTargetRampRate: {{getMetrics().dailyTargetRampRate}}</div>
      <div>targetAvgDailyLoad: {{getMetrics().targetAvgDailyLoad}}</div>
      <em class="text-muted">
        Created
        <span ng-bind="trainingDay.created | date:'medium'"></span>
        by
        <span ng-bind="trainingDay.user.displayName"></span>
      </em>
    </small>
  </div>
</section>
