<section ng-controller="AuthenticationController as auth">
  <!-- <div class="row">
    <div class="col-md-offset-3 col-md-7" ng-cloak ng-show="!auth.allowRegistrations">
      <h3 class="page-header">
      Wait-Listing for New Users is in Effect
    </h3>
      <p class="lead">
        Due to high demand we have created a wait-list for new users.
      </p>
      <p>
        <strong>If you already have a Tacit Training account, this does not affect you. You can log in normally.</strong>
      </p>
      <p>
        However, if you are new here we have to ask you to be patient. Please click <strong>Connect With Strava</strong> and we will let you know when we are ready for you.
      </p>
      <p>
        <strong>Sorry for the wait! We appreciate your patience and hope to welcome you to Tacit Training soon! <a ui-sref="waitlist">More about wait-listing.</a></strong>
      </p>
    </div>
  </div> -->
  <div class="row">
    <h3 class="col-md-12 text-center">Sign up or sign in using your Strava account</h3>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <a class="btn btn-default" href="#" role="button"><img style="width:100%" ng-click="auth.callOauthProvider('/api/auth/strava')" ng-src="/modules/users/client/img/buttons/strava.png"></a>
    </div>
  </div>
  <div us-spinner="{radius:50, width:8, length: 16}" spinner-key="authSpinner"></div>
<!-- <img ng-click="callOauthProvider('/api/auth/facebook')" ng-src="/modules/users/client/img/buttons/facebook.png">
    <img ng-click="callOauthProvider('/api/auth/twitter')" ng-src="/modules/users/client/img/buttons/twitter.png">
    <img ng-click="callOauthProvider('/api/auth/google')" ng-src="/modules/users/client/img/buttons/google.png">
    <img ng-click="callOauthProvider('/api/auth/linkedin')" ng-src="/modules/users/client/img/buttons/linkedin.png">
    <img ng-click="callOauthProvider('/api/auth/github')" ng-src="/modules/users/client/img/buttons/github.png">
    <img ng-click="callOauthProvider('/api/auth/paypal')"  ng-src="/modules/users/client/img/buttons/paypal.png">
 -->
  <!-- <div ui-view></div> -->
  <!--   <div>
    <h1>Database migration is underway.</h1>
    <p class="lead">Expected downtime is 2 hours. Please check back later.</p>
  </div> -->
</section>
