.decorated-link {
  font-weight: bold;
  text-decoration: underline;
}

.refresh-link {
  font-weight: bold;
}

.disabled {
  cursor: default;
  opacity: .5;
}

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.header-logo {
  height: 40px;
}

.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}

.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}

.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

.error-text {
  display: none;
}

.has-error .help-block.error-text {
  display: block;
}

.has-error .help-inline.error-text {
  display: inline;
}

.navbar-brand {
  padding-top: 5px;
  padding-left: 5px;
}

.navbar-nav a {
  color: black;
}

.navbar {
  border-bottom: 1px solid #e5e5e5;
}

.footer {
  margin-top: 20px;
}

.footer .copyright {
  margin-left: 5px;
}

.user-alerts {
  color: #C01B21;
  font-weight: bold !important;
}

.user-alert {
  font-weight: bold !important;
}

.about-content {
  font-size: 16px;
}

.top-buffer {
  margin-top: 10px;
}

.top-buffer-2x {
  margin-top: 20px;
}

.top-buffer-4x {
  margin-top: 40px;
}

.bottom-buffer {
  margin-bottom: 10px;
}

/*The three colors recommended by Tailor #1EBCB6 #BC2025 #E35E62*/
.color-tacit-red {
  color: #BC2025;
}

.color-tacit-pink {
  color: #E35E62;
}

.color-tacit-blue {
  color: #1EBCB6;
}

.popup-link {
  text-decoration: underline;
}

.background-color-tacit-red {
  background-color: #BC2025;
  color: white;
}

.color-strava-orange {
  color: #FC4C02;
}

.strava-link {
  color: #FC4C02;
}

.strava-badge {
  display: inline-block;
  background-color: #FC4C02;
  color: #fff;
  padding: 5px 10px 5px 30px;
  font-size: 11px;
  font-family: Helvetica, Arial, sans-serif;
  white-space: nowrap;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 10px center;
  border-radius: 3px;
  background-image: url('http://badges.strava.com/logo-strava-echelon.png')
}

.strava-badge:visited, .strava-badge:hover, .strava-badge:focus {
  text-decoration: none !important;
  color: white;
}

.toast-success {
  background-color: rgb(63, 81, 181);
}

.toast-info {
  background-color: rgb(63, 81, 181);
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
